body{
	margin:0;
	font-family: 'NoticiaText-Italic';
	background-color: black;
}
@font-face {
    font-family: 'NoticiaText-Italic';
    src: url(../fonts/NoticiaText-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'NoticiaText-Italic';
    src: url(../fonts/NoticiaText-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'NoticiaText-Italic';
    src: url(../fonts/NoticiaText-Italic.ttf) format('truetype');
}
body a{
  background:url(../images/pizza.jpg)no-repeat 0px 0px;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
  color: #ffffff;	   
}
p{
	margin:0;
  color: #ffffff;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
hr{
	height: 7px;
	background-color:#ffffff:; 
}

/*--baner--*/
.banner {
  background:url(../images/pizza.jpg)no-repeat 0px 0px;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:450px;
  position:relative;
}
.banner-info {
  background:url(../images/dott.png)repeat 0px 0px;
  background-size:4px;
  -webkit-background-size:4px;
  -moz-background-size:4px;
  -o-background-size:4px;
  -ms-background-size:4px;
  min-height:450px;
  padding:2em 0;
}
#logo {
    width: 400px;
    height: 50px;
    margin-left: 30%;
}

#logo-1{

    width: 400px;
    height: 50px;
    margin-left: 30%
}

.banner-bottom {
    background-color: #ffffff;
    min-height: 350px;
	  position:relative;
}
.banner-text {
    background-color: #fff;
    padding: 4em;
    display: inline-block;
    text-align: center;
    position: absolute;
    top:-16%;
    left: 34.5%;
}
.banner-text h3 {
    font-size: 4em;
    font-family: 'NoticiaText-Italic';
    color: #fff;
}
.banner-text p {
    font-size: 1em;
    color: #68686a;
    margin: 1em 0 2em;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 700;
}
.banner-text a {
    font-size: 1.1em;
    text-align: center;
    color: #68686a;
    border: 1px solid #000;
    padding: .3em 1.5em;
	position: relative;
}
/* Button 1b */
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #555;
}
.btn-1b:hover, .btn-1b:active {
    color: #fff;
    z-index: 9;
}
.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}
/*--//baner--*/
/*--top-nav--*/
nav.navbar.navbar-default {
    border: none;
    background: none;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
    width: 44%;
    margin: 4em auto 0;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-size: 2.2em;
      text-shadow: 0 0 30px #fff;
}
.navbar-nav > li > a {
    padding: 10px 25px;
    line-height: 1.5em;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-nav > li > a.active {
    color: #000000;
}

.top-nav{
  font-size: 20px;
}

.top-navar a-scroll{
  color: #ffffff;
}
/* Effect 14: border switch */
.cl-effect-14 a {
	padding: 0 20px;
	height: 64px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after,
.cl-effect-14 a.active::before,
.cl-effect-14 a.active::after {
	opacity: 2;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before,.cl-effect-14 a.active::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after,.cl-effect-14 a.active::after{
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}
/*--//top-nav--*/
/*--mix--*/
.mix {
    margin: 15em 0 5em 0;
}
h3.title {
    font-size: 3.5em;
    font-family: 'NoticiaText-Italic';
    line-height: 1em;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 30px #fff;
}
.mix p {
    font-size: 3em;
	margin-top:.5em;
    color: #cc1924;
    line-height: 1.8em;
	text-align:center;
}


.mix-info {
    margin: 3em 0;
}


/*--//mix--*/
img.zoom-img {
     transform: scale(2, 2);
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover{
     transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}

/*--menú--*/
.menú {
    padding: 6em 0;
}
.menú h3.title {
    margin-bottom: 1em;
}
.menú-grids {
  width: 82%;
  margin: 0 auto;
}
.menú-left {
    width: 14%;
    float: left;
    border: 2px solid #004A3D;
    border-radius: 50%;
    padding: 5px;
}
.menú-left img{
	border-radius:50%;
	width:100%;
}
.menú-right{
  float: left;
  width: 65%;
  margin: 1em 0 0 2em;
}
.menú-right h5 {
    color: #68686a;
    margin: 0;
    font-size: 2em;
    font-family: 'NoticiaText-Italic';
}
.menú-right p{
  color: #999;
  font-size: 1em;
  margin: 1em 0 0 0;
  line-height: 1.8em;
}
.menú-right p span{
  font-size: 2em;
  line-height: .1em;
  vertical-align: middle;
}
ul.callbacks_tabs.callbacks2_tabs {
  left: 46%;
}
/*--//testimonial--*/
/*--footer--*/
.footer {
   background:url(../images/pizza.jpg)no-repeat 0px 0px;
  padding: 2em 0;
}
.footer h4 {
    font-size: 2.8em;
    font-family: 'NoticiaText-Italic';
    line-height: 1em;
    color: #ffffff;
    margin-bottom: 0.5em; 
    text-shadow: 0 0 30px #fff;
}
.footer-left ul {
  padding: 0;
  margin: 0;
}
.footer-left ul li {
	display: block;
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 300;
	letter-spacing: 0.5px;
	margin-bottom: 0.5em;

}
.footer-left ul li:nth-child(2),.footer-left ul li:nth-child(3) {
  font-weight: 150;
  color: #ffffff;
}
.footer-left ul li a{
	color: #ffffff;
	text-decoration:none;
}
.footer-left ul li a:hover{
	color: #ffffff;
}
.footer-right a {
  display: inline-block;
}
.footer-right p {
  color: #ffffff;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin: 1em 0 0;
}
.footer-right p a {
  color: #cc1924;
  font-size: 1.3em;
  letter-spacing: 1px;
}
.footer-right p a:hover{
	color: #fff;
}


/*--//footer--*/
/*------------------ Slider Part starts Here----------*/

#slider3,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0%;
	right:0%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 40px;
	width: 55px;
	background: transparent url("../images/icons.png") no-repeat 26px 0px;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
	left: auto;
	right: 24%;
	background: url(../images/icons.png)no-repeat -30px 0px;
	height: 40px;
	width: 24px;
}
#slider3-pager a ,#slider4-pager a {
  display: inline-block;
}
#slider3-pager span, #slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a{
  padding: 0;
}
#slider3-pager li ,#slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
  position: absolute;
  top: 0%;
  z-index: 111;
  right: 0%;
  padding: 0;
  margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
ul.social-slide li i.win{
	background-position:-6px 0px;
} 
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin-right: 4px;
}
@media screen and (max-width: 600px){
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    border-radius: 20px;
    width: 12px;
    display: inline-block;
    background: #CADDE1;
}
.callbacks_here a:after{
	background: #9b9b9b;
}
/*--//slider end here--*/
/*--about--*/
.banner.about-bnr,.banner-info.about-bnr-info {
    min-height: 360px;
}
.about-top {
  padding: 5em 0;
}
.about-info {
  margin-bottom: 3em;
  text-align: center;
}
.about-info p {
  color: #ffffff;
  font-size: 1em;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 70%;
}
.about-top-grid h4 {
    color: #555;
    font-size: 1.3em;
    margin: 0;
    line-height: 1.5em;
}
.about-top-grid p {
  color: #999;
  font-size: 1em;
  margin: 1em 0 0 0;
  line-height: 1.8em;
}
.about-top-grid img{
	width:100%;
}
.about-right {
  background: url(../images/1.jpg) no-repeat 0px 0px;
  background-size: cover;
  float: left;
  min-height: 380px;
  width: 40%;
}
.about-bottom {
  padding: 5em 0 6em;
}
.about-bottom-grids {
  margin-top: 4em;
}
.about-bottom-left h4 {
    color: #cc1924;
    margin: 0;
    font-size: 2em;
    font-family: 'NoticiaText-Italic';
}
.about-bottom-left p {
  color: #fff;
  font-size: 1.4em;
  margin: 2em 0 0 0;
  line-height: 1.8em;

}
.about-bottom-left p span {
  display: block;
  margin: 2em 0;
}
.about-team {
  padding:5em 0;
  background: black;
}
.team-grids {
  margin-top: 3em;
}
.about-team h4 {
  color: #FFFFFF;
  font-size: 4em;
  margin: 0;
  font-family: 'NoticiaText-Italic';
  letter-spacing: 2px;
  text-align: center;
}
.team-grid img {
    width: 100%;
    border: 3px solid #fff;
}
.team-grid h6 {
    font-size: 1.5em;
    color: #555;
    margin: 1em 0 0.5em 0;
    text-transform: capitalize;
    font-family: 'NoticiaText-Italic';
}
.team-grid p {
  color: #7DB0BB;
  font-size: 1em;
  margin: 0;
  line-height: 1.8em;
}
/*--//about--*/
/*-- gallery --*/
.gallery-info {
    text-align: center;
}
.gallery-top {
    padding: 5em 0;
}
.gallery-grids-top {
    margin-top: 4em;
}
.gallery-grid-img {
    padding-left: 0;
}
.gallery-grid {
    padding-left: 0;
}
.gallery-grid a {
    display: block;
}
.gallery-grid img {
  width: 100%;
}
.gallery-right {
    padding: 0;
}
.gallery-grid-img img{
	width:100%;
}
.gallery-grid-img:hover img{
	-webkit-filter: grayscale(100%);
	opacity: 8;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.gallery-grid:hover img {
  -webkit-filter: grayscale(100%);
  opacity: 8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-grid-top-img:hover img{
	  -webkit-filter: grayscale(100%);
  opacity: 8;
  transition: all 300ms!important;
  -webkit-transition: all 300ms!important;
  -moz-transition: all 300ms!important;
}
.gallery-grids-middle{
    margin: 1em 0;
}
.gallery-right-top-grid{
	margin:1em 0 0 0;
}
.gallery-grid-top{
	padding:0;
}
.gallery-grid-top-img{
	margin-right:1em;
}
.gallery-grid-top-img img{
	width:100%;
}
/*--//gallery--*/
/*--Shortcodes--*/
.codes{
	padding:5em 0;
}
h3.hdg {
    font-size: 2em;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg {
	margin-bottom:1em;
	color: #000;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
.grid_4 {
    margin-top: 30px;
}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Shortcodes--*/
/*--contact--*/
.contact-top {
  background: black;
}
.contact-info {
  padding: 5em 0 3em;
  text-align: center;
}
.contact-info p {
  color: #fff;
  font-size: 1.5em;
  margin: 1em auto 0;
  line-height: 1.8em;
  width: 50%;
}
.mail-grid-left h3.title {
    text-align: left;
    margin-bottom: 0.5em;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
.mail-grids {
  margin: 3em 0;
}
.mail-grid-left h5 {
  color: #fff;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}
.mail-grid-left h5 span {
  display: block;
}
.mail-grid-left h4 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0 0;
}
.mail-grid-left p {
    color: #fff;
    font-size: 1em;
    margin: 0.8em 0 1em;
    line-height: 1.8em;
}
.mail-grid-left p a{
	color: #555;
	text-decoration:none;
}
.mail-grid-left p a:hover{
	color: #fff;
}
.mail-grid-left p span {
  display: block;
}


.contact-form input[type="text"] {
    width: 100%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 0.9em;
    padding: .6em .8em;
    margin-bottom: 1em;
    border: solid 1px #fff;
    -webkit-appearance: none;
	  border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.contact-form textarea {
	resize: none;
	width: 100%;
	background: none;
	color: #cc1924;
	font-size: .9em;
	outline: none;
	padding:.6em .8em;
	border: solid 1px #fff;
	min-height: 14em;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}
.contact-form input[type="submit"] {
    border: none;
    outline: none;
    color: #black;
    padding: .5em 3.5em;
    font-size: 1em;
    margin: 0.5em 0 0 0;
    -webkit-appearance: none;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
.contact-form input[type="submit"]:hover {
  background: #fff;
  color: #FFF;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
/*--//contact--*/
/*---- responsive-design -----*/
@media(max-width:1440px){
.banner-text {
    left: center;

    margin-top: 32em;
}

@media(max-width:1366px){

}
@media(max-width:1280px){
.banner-text {
    left: 31%;
}
}
@media(max-width:1080px){
div#bs-example-navbar-collapse-1 {
    width: 53%;
}
